<div class="container has-text-centered">
  <h1 class="title">This site is only for UMN students and faculty</h1>
  <h1 class="subtitle">Please log in with your umn.edu email address</h1>
  <img src="/images/Minnesota_Golden_Gophers_logo.svg_.png" style="max-height: 300px"/>
</div>
