body {
  margin-top: 20px;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

.header{
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#requirementsList{
  width: 320px;
  height: 500px;
  overflow-y: scroll;
  border-width: 2px;
  border:1px solid #d6d6d6;
}

#categories{
  padding: 10px
  border:2px solid #d6d6d6;
  margin-left: 35px;
  margin-bottom: 10px;
}

#sellItemButton{
  text-align: center;
  margin-top: 20px;

}

.card{
  width: 300px;
  margin-left: 10px;
}

#itemCard{
  width: 100px;
}

#postIt{
  margin-left: 10px;
  width: 300px;
  height: auto;
  padding-top: 45px;
}

#addRequest{
  text-align: center;
  margin-bottom: 10px;
}

#itemBox{
  border-style: ridge;
  border-color: #cacecc;
  background-color: #d4d4d4;
}

.card{
  margin-top: 10px;
}

a {
  color: #00B7FF;
}

.upload-page #file-chooser-widget {
  margin-bottom: 10px;
}

#rent-extras, #apartment-extras{
  display: none;
}

#map{
  width: 100%;
  height: 400px;
}

#images{
  max-width: 100%;
height: 400px;
background-size: cover;
background-repeat: no-repeat;
}

.prev-icon{
  position: relative;
  top: 50%;
  float: left;
}

.next-icon{
  position: relative;
  top: 50%;
  float: right;
}

.resultcard{
    margin-top: 30px !important
}
.allListingsImg{
  margin: 0 !important;
}

#goToPosting{
  margin-top: 20px;

}

#postListingPage{
  color:#616362;
}

#editProfileHeader{
  text-align: center;
}

#editProfileMainDiv{
  width: 500px;
  position: relative;
}

#profilePicture{
  margin: auto;
  margin-bottom: 20px;
}

#saveEditedProfile{
  margin: auto;
}

#photouploadBox{
  margin-left: 20px;
  margin-bottom: 10px;
}

.productComment{
  background-color: #eee;
padding: 5px;
margin: 10px 0;
}

.categories{
  margin-top: 30px;
  clear: both;
}

.commentBox{
  max-height:400px ;
overflow: scroll;
margin-bottom: 20px;
}

@media(max-width:1023px){
  #drop{
    display:none;
  }

  .home-page-card{
    margin: auto;
  }
}

.edit_prod_image:hover{
    opacity: 0.5;
}

.itemsContainer:hover .red-cross{display:block}
.red-cross{
  position : absolute;
    display:none;
    top:40%;
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100;
    opacity: 0.7;
}

.itemsContainer {
    float:left;
    position:relative
}

#photoUpload{
  margin-left: 10px;
}


#mainPageHeading{
  text-align: center;
}

.title{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.postedTimeFont{
  font-size: 10px;
}
